* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgb(0, 0, 0, 0.55)), url(./Image/bg_image.webp);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    font-family: 'Noto Serif', serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin-top: 12%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digit {
    font-size: 11em;
    text-shadow: 0 5px 10px #000000;
}

.text {
    font-size: 2em;
    margin-right: 20px;
}

.btn-container {
    text-align: center;
    margin-top: 2em;
}

.btn {
    margin-right: 2em;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px #000000;
}

#start {
    background-color: #006400;
}

#stop {
    background-color: #A52A2A;
}

#reset {
   background-color: #008080;
}


/* Media Query */

@media (max-width: 420px){
    body {
        height: 1000px;
    }
    .time {
        margin-top: 12rem;
    }
    .digit {
        font-size: 30px;
    }
    .text {
        margin-top: -20px;
        font-size: 15px;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 25px;
    }
}